/* small device */
@media screen and (max-width: 576px) {
    .navBar, 
    .navLinks, 
    .teams{
        flex-direction: column;
    }
    .teamImgContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .ourFeatures{
        margin-left: 10px;
    }

}

/* medium size device */
@media screen and (min-width: 576px) and  (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .ourFeatures{
        margin: 50px auto;
    }
}