@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.primaryBg{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 100px;
}
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.txtOrange{
    color: #FF900E;
}
.btnPrimary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}
.text{
    font-size: 1rem;
}
/* header Styles */

/* nav bar related styles */
.navBar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.navItems{
    list-style: none;
    margin-right: 30px;
}

.navLinks{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
}
.navBar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.bannerContent{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.bannerTitle{
    font-weight: 700;
    font-size: 4rem;
}
.bannerImage{
    width: 100%;
}
.bannerDescription{
    font-size: 1rem;
    max-width: 500px;
}
/* team and feature related */
.teams{
    align-items: center;
}
.teamImgContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.ourFeatures{
    margin-left: 73px ;
    border: 2rem;
    font-size: 2.5rem;
    max-width: 530px;
}
.featureDescription{
    font-size: 1rem;
}
#quickList{
    font-weight: 500;
}
/* feature Section related */
#featureSectionBorder{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.sectionTitle{
    font-size: 2.8rem;
    font-weight: bold;

}
.featureCard{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-radius: 8px;
}
.features{
    gap: 54px;
}
.featureCard .featureTitle{
    font-weight: 600;
    font-size: 1.25rem;
}
#experienceBadge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -40px;
    margin-top: -100px;
}
#experienceYear{
    font-size: 3.5rem;
}
.featuredArchitect image{
    width: 100%;
}

/* some fact */
.achivment{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.factCard{
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.factValue{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.factName{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
}
/* sponsor related */
.sponsorsInfo{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsorCompany{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}
.sponsorCompany > img{
    filter: grayscale(100%);
}

.footer{
    background-color: #FFF4E7;
    max-width: 1440px;
    padding: 40px 400px;
    border-radius: 8px;
    text-align: center;
}