@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.primaryBg{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 100px;
}
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.txtOrange{
    color: #FF900E;
}
.btnPrimary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}
/* header Styles */

/* nav bar related styles */
.navBar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.navItems{
    list-style: none;
    margin-right: 30px;
}

.navLinks{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
}
.navBar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.bannerContent{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.bannerTitle{
    font-weight: 700;
    font-size: 4rem;
}
.bannerImage{
    width: 100%;
}
.bannerDescription{
    font-size: 1rem;
}
/* team and feature related */
.teams{
    align-items: center;
}
.teamImgContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.ourFeatures{
    margin-left: 73px ;
    border: 2rem;
    font-size: 2.5rem;
    max-width: 530px;
}
.featureDescription{
    font-size: 1rem;
}
#quickList{
    font-weight: 500;
}
.sectionTitle{
    font-size: 2.8rem;
    font-weight: bold;
    
}